

body {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #574e70;
}

.dancing-script-one
{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.poetsen-one-regular {
	font-family: "Poetsen One", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#startButton {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: 'dancing-script-one', normal;
    background-color: rgb(8, 0, 255);
    border: none;
    border-radius: 70px;
    color: rgb(215, 135, 31);
    text-shadow: 3px 3px 4px #9d3365;
    box-shadow: 0 5px #0c0b10;
}

#pongCanvas {
    display: none;
    border: 3px solid #dd3434;
}
h1 {
	font-family: 'poetsen-one-regular', normal;
	color: purple;
	text-shadow: 2px 2px 3px pink;
	top: 0;


}
#score {
    font-family: 'poetsen-one-regular', normal;
    color: rgb(238, 168, 29);
    font-size: 15px;
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgb(206, 21, 52);

}
img {
    margin-left  : 20px;
    margin : 2px;
	height: 150px;
	width: 150px;
}
.image-container {
    display: flex;
    justify-content: space-between;
}

#gato {
    height: 200px;
	width: 200px;
}